.skills{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: linear-gradient(#fff, turquoise); 
}

.skills__titulo {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 48px;  
    text-align: center;
    color: #464646;
    padding: 2rem;
}

.skills__line{
    display: flex;
    justify-content: space-evenly;
}

.skills__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 8px;
    width: 176px;
    height: 174px;
    background: #FFFFFF;
    transition: 1s all; 
    border-radius: 0 30px 0 30px;
}

.skills__box:hover{
    background: #d8e8f1;
    transform: scale(1.1);
}

.skills__box--list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills__img{
    padding-top: 1%;
    padding-bottom: 1%;
}

.skills__name{
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 20px;  
    text-align: center;
    color: #464646;
    padding-top: 2%;
    padding-bottom: 1%;
}

@media only screen and (max-width: 600px) {
    .skills__line{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 5%;
    }

    .skills__box {
        margin-top: 6%;
    }

}

@media (max-width: 800px) {
    .skills__line{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin-top: 5%;
    }

    .skills__box {
        margin-top: 6%;
    }
}